body {
  font-family: "Source Sans Pro", sans-serif, sans-serif;
  color: #323232;
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.container {
  max-width: 113.75rem;
  margin: 0 auto;
}

.header-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.hero-section {
  padding: 0 3%;
  background: url(../img/pexels-mikhail-nilov-7827819.webp);
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section .learn-daily {
  font-family: "Work Sans", sans-serif;
  position: relative;
  top: 14rem;
}
.hero-section .learn-daily h2 {
  font-size: clamp(2rem, 11.6vw, 13.25rem);
}
@media screen and (min-width: 48rem) {
  .hero-section .learn-daily div {
    display: flex;
    gap: 2rem;
    margin-left: 10%;
  }
}
.hero-section .learn-daily div p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.625rem;
  margin-bottom: 0.625rem;
}
.hero-section .learn-daily div a {
  border: 0.0625rem solid #ffffff;
  border-radius: 3.125rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s ease;
}
.hero-section .learn-daily div a svg {
  fill: #ffffff;
}
.hero-section .learn-daily div a:hover {
  color: #b793b4;
  background-color: #ffffff;
}
.hero-section .learn-daily div a:hover svg {
  fill: #b793b4;
}

svg {
  width: 1.5625rem;
  height: 1.5625rem;
}

.logo a {
  border: 0.0625rem solid #ffffff;
  border-radius: 0.1875rem;
  display: inline-block;
  padding: 0.625rem 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
}

.bar {
  display: block;
  width: 1.875rem;
  height: 0.3125rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 0.1875rem;
}

nav {
  min-width: 100%;
  background-color: rgba(187, 138, 207, 0.8);
  position: absolute;
  left: -100%;
  top: 5rem;
  transition: all 0.3s ease;
}
@media screen and (min-width: 48rem) {
  nav {
    position: static;
    min-width: 0;
    background-color: transparent;
  }
}
nav .nav-menu {
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 48rem) {
  nav .nav-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
nav .nav-menu li {
  text-align: center;
}
@media screen and (min-width: 48rem) {
  nav .nav-menu li:nth-child(6) a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
nav .nav-menu li a {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1rem, 1.9vw, 2.25rem);
  transition: all 0.3s ease;
  display: block;
}
nav .nav-menu li a:hover {
  background-color: #ffffff;
  color: #b793b4;
}
@media screen and (min-width: 48rem) {
  nav .nav-menu li a:hover {
    border-radius: 0.1875rem;
  }
}

.nav-toggler {
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .nav-toggler {
    display: none;
  }
}

.active nav {
  left: 0;
  z-index: 10;
}

.active .nav-toggler span:nth-child(2) {
  opacity: 0;
}

.active .nav-toggler span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.active .nav-toggler span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.login-icon {
  transition: all 0.3s ease;
}
.login-icon svg {
  fill: #ffffff;
}
.login-icon:hover {
  color: #b793b4;
  background-color: #ffffff;
}
.login-icon:hover svg {
  fill: #b793b4;
}

.knowledge-section {
  text-align: center;
  padding: 3%;
  margin: 1.125rem 0;
}
.knowledge-section svg {
  fill: #62a7ae;
  width: 1.875rem;
  height: 100%;
}
.knowledge-section p {
  font-family: "Libre Baskerville", serif;
}

.grid-container {
  background-color: #f4f4f2;
}
@media screen and (min-width: 68.75rem) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 1rem;
  }
}
.grid-container .grid-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, max-content));
}
@media screen and (min-width: 68.75rem) {
  .grid-container .grid-items:nth-child(1) {
    display: flex;
  }
}
.grid-container .grid-items .grid-content {
  padding: 3%;
}
.grid-container .grid-items .grid-content p:nth-child(1) {
  font-family: "Libre Baskerville", serif;
  font-size: clamp(1rem, 3vw, 2.25rem);
}
.grid-container .grid-items .grid-content p:nth-child(3) {
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(1rem, 3vw, 1.3125rem);
}
.grid-container .grid-items .grid-content h2 {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.75rem, 3vw, 5rem);
  text-transform: uppercase;
}

.quiz {
  background-color: #d2d6a0;
}
.quiz .quiz-flex {
  padding: 2rem 3%;
}
@media screen and (min-width: 48rem) {
  .quiz .quiz-flex {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 4rem 3%;
  }
}
@media screen and (min-width: 48rem) {
  .quiz .quiz-flex .quiz-take {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1;
    align-items: center;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 48rem) {
  .quiz .quiz-flex .quiz-take p {
    margin: 0;
  }
}
.quiz .quiz-flex div {
  text-align: center;
}
.quiz .quiz-flex div h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: clamp(1.5rem, 4vw, 5rem);
}
.quiz .quiz-flex div p {
  font-family: "Libre Baskerville", serif;
  font-size: clamp(1.2rem, 1.9vw, 2.25rem);
  margin-bottom: 1rem;
}
.quiz .quiz-flex div a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  border: 0.0625rem solid #ffffff;
  border-radius: 3.125rem;
  padding: 0.625rem;
  margin-top: 0.625rem;
  transition: all 0.3s ease;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 48rem) {
  .quiz .quiz-flex div a {
    width: 15.625rem;
    margin: 1rem auto;
  }
}
.quiz .quiz-flex div a svg {
  fill: #ffffff;
}
.quiz .quiz-flex div a:hover {
  color: #323232;
  background-color: #ffffff;
}
.quiz .quiz-flex div a:hover svg {
  fill: #323232;
}

.courses .search-area {
  margin: 2rem 0;
  padding: 0 3%;
}
.courses .search-area h2 {
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  font-size: clamp(1.75rem, 3vw, 5rem);
}
@media screen and (min-width: 48rem) {
  .courses .search-area div {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}
.courses .search-area div p {
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .courses .search-area div p {
    width: 40.625rem;
  }
}
.courses .search-area div label {
  position: relative;
}
@media screen and (min-width: 48rem) {
  .courses .search-area div label {
    flex-basis: 100%;
  }
}
.courses .search-area div label::before {
  content: "";
  position: absolute;
  left: 0.625rem;
  top: 0;
  bottom: 0;
  width: 1.5625rem;
  background: url(../img/search-svgrepo-com.svg) center/contain no-repeat;
}
@media screen and (min-width: 48rem) {
  .courses .search-area div label::before {
    bottom: 3.125rem;
  }
}
.courses .search-area div label input {
  border-radius: 3.125rem;
  border: 0.125rem solid #745669;
  padding: 0.5rem 2rem;
  width: 100%;
  outline: none;
}
@media screen and (min-width: 48rem) {
  .courses .search-area div label input {
    width: 100%;
    padding-left: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
