$footer-bkgd-clr: #b793b4;
$content-bkgd-clr: #d2d6a0;
$content-bkgd-clr-two: #f4f4f2;
$content-bkgd-clr-three: #bb8acf;
$content-hover-clr: #b793b4;
$clr-one: #ffffff;
$clr-two: #323232;
$font-1: "Work Sans", sans-serif;
$font-2: "Source Sans Pro", sans-serif;
$font-3: "Libre Baskerville", serif;

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 113.75rem;
  margin: 0 auto;
}

// header section
.header-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.hero-section {
  padding: 0 3%;
  background: url(../img/pexels-mikhail-nilov-7827819.webp);
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-transform: uppercase;
  color: $clr-one;
  .learn-daily {
    font-family: $font-1;
    position: relative;
    top: 14rem;
    h2 {
      font-size: 2.5rem;
    }
    div {
      p {
        font-family: $font-1;
        font-size: 1.625rem;
        margin-bottom: 0.625rem;
      }
      a {
        border: 0.0625rem solid $clr-one;
        border-radius: 3.125rem;
        padding: 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        color: $clr-one;
        font-family: $font-2;
        transition: all 0.3s ease;
        svg {
          fill: $clr-one;
        }
        &:hover {
          color: $content-hover-clr;
          background-color: $clr-one;
          svg {
            fill: $content-hover-clr;
          }
        }
      }
    }
  }
}

svg {
  width: 1.5625rem;
  height: 1.5625rem;
}

.logo {
  a {
    border: 0.0625rem solid $clr-one;
    border-radius: 0.1875rem;
    display: inline-block;
    padding: 0.625rem 1rem;
    font-family: $font-2;
    font-size: 1.125rem;
    color: $clr-one;
  }
}

.bar {
  display: block;
  width: 1.875rem;
  height: 0.3125rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  background-color: $clr-one;
  border-radius: 0.1875rem;
}

nav {
  min-width: 100%;
  background-color: rgba(187, 138, 207, 0.8);
  position: absolute;
  left: -100%;
  top: 5rem;
  transition: all 0.3s ease;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      text-align: center;
      a {
        color: $clr-one;
        font-family: $font-1;
        font-size: 2.25rem;
        transition: all 0.3s ease;
        display: block;
        &:hover {
          background-color: $clr-one;
          color: $content-hover-clr;
        }
      }
    }
  }
}

.nav-toggler {
  cursor: pointer;
}

.active nav {
  left: 0;
  z-index: 10;
}

.active .nav-toggler span:nth-child(2) {
  opacity: 0;
}
.active .nav-toggler span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.active .nav-toggler span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

// knowledge section
.knowledge-section {
  text-align: center;
  padding: 3%;
  margin: 1.125rem 0;
  svg {
    fill: #62a7ae;
    width: 1.875rem;
    height: 100%;
  }
  p {
    font-family: $font-3;
  }
}
