$footer-bkgd-clr: #b793b4;
$content-bkgd-clr: #d2d6a0;
$content-bkgd-clr-two: #f4f4f2;
$clr-one: #ffffff;
$clr-two: #323232;

body {
  font-family: sans-serif;
}

.container {
  max-width: 113.75rem;
  margin: 0 auto;
}

// header section
.header-control {
  color: $clr-one;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.hero-banner {
  background: url(../img/pexels-mikhail-nilov-7827819.webp);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.login-icon svg {
  width: 1.5625rem;
  height: 1.5625rem;
}

.logo {
  a {
    border: 0.0625rem solid $clr-one;
    border-radius: 0.1875rem;
    display: inline-block;
    padding: 0.625rem 1rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.125rem;
    color: $clr-one;
    text-decoration: none;
  }
}

.bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  background-color: $clr-one;
  border-radius: 0.1875rem;
}

nav {
  min-width: 100%;
  background-color: $clr-one;
  position: absolute;
  left: -100%;
  top: 5rem;
  transition: all 0.3s ease;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      text-align: center;
      a {
        color: $footer-bkgd-clr;
        text-decoration: none;
        font-family: "Work Sans", sans-serif;
        font-size: 2.25rem;
      }
    }
  }
}

.nav-toggler {
  cursor: pointer;
}

.active nav {
  left: 0;
  z-index: 10;
}

.active .nav-toggler span:nth-child(2) {
  opacity: 0;
}
.active .nav-toggler span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .nav-toggler span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
