$footer-bkgd-clr: #b793b4;
$content-bkgd-clr: #d2d6a0;
$content-bkgd-clr-two: #f4f4f2;
$clr-one: #ffffff;
$-clr-two: #323232;

.hero-banner {
  background: url(../img/pexels-mikhail-nilov-7827819.webp);
  background-size: cover;
  background-position: center;
}

.login-icon svg {
  width: 1.5625rem;
  height: 1.5625rem;
  // fill: $clr-one;
}
